################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advanced Programming/Week 1/Recursion.zip
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/School-Notes/FileContentIndex/0cd75024-d1c5-442a-8f3e-fa3183c037dc.vsidx
.vs/School-Notes/FileContentIndex/04ed051e-6fb0-479b-9b65-cd256c1abb5a.vsidx
.vs/School-Notes/FileContentIndex/470bfc32-5f1b-4b8d-959b-0b21954948a0.vsidx
.vs/School-Notes/FileContentIndex/930f782f-5c96-45f6-a9e5-9d849c970e63.vsidx
.vs/School-Notes/FileContentIndex/495309da-7377-478f-82d4-20b38e07f164.vsidx
.vs/School-Notes/FileContentIndex/aa002c81-b38f-4324-b9da-6822ad0f78e1.vsidx
.vs/School-Notes/FileContentIndex/c986dea2-0601-4afd-937b-85dd4a9ba232.vsidx
.vs/School-Notes/FileContentIndex/ddbc17e9-7977-460e-b274-82386d46934e.vsidx
.vs/School-Notes/v17/.wsuo
.vs/School-Notes/v17/Browse.VC.db
.vs/School-Notes/v17/ipch/AutoPCH/d69804b7741d3908/TEST.ipch
.vs/School-Notes/v17/ipch/AutoPCH/fe802e4bc878b844/RECURSION.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/School-Notes/FileContentIndex/0cd75024-d1c5-442a-8f3e-fa3183c037dc.vsidx
.vs/School-Notes/FileContentIndex/04ed051e-6fb0-479b-9b65-cd256c1abb5a.vsidx
.vs/School-Notes/FileContentIndex/495309da-7377-478f-82d4-20b38e07f164.vsidx
.vs/School-Notes/FileContentIndex/aa002c81-b38f-4324-b9da-6822ad0f78e1.vsidx
.vs/School-Notes/v17/.wsuo
.vs/School-Notes/v17/Browse.VC.db
/.vs
Advanced Programming/Test Cases/ClassTest/Source.exe
Advanced Programming/Test Cases/ClassTest/Source.obj
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/FileContentIndex/3ef143d1-ba5d-4089-8775-394899f951dd.vsidx
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/FileContentIndex/b0739582-7b5c-4d19-b073-7799a11f75e7.vsidx
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/FileContentIndex/read.lock
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/v17/.suo
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/v17/Browse.VC.db
Advanced Programming/Week 2/CLASS CREATION PROGRAM ASSIGNMENT/.vs/CLASS CREATION PROGRAM ASSIGNMENT/v17/ipch/AutoPCH/ba0d4bba0a7c83af/CLASS CREATION PROGRAM ASSIGNMENT.ipch
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/2a8c7622-2976-4756-8481-5dc367026c09.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/a41feb6e-35f9-4830-9a85-128e465614ae.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/ac409db9-1d35-45b1-b76d-2afeb9adaa81.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/b6fdc34c-7c25-4c07-b2db-096c7e9643df.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/read.lock
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/.suo
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/.wsuo
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/Browse.VC.db
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/21abf343-99d9-4afd-9498-0373315ba9cd.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/94cba3e3-662e-4f4f-ae02-831ce25e9a15.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/659ad7a4-5159-4e07-8252-5b6cbf6a7085.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/a4a38270-01a7-4b72-8285-79277141f636.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/da59f790-6885-496e-9fc3-a47156af58f7.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/f7f0d42c-f85f-4c6a-aef5-53ab6efd2faf.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/f14b8707-256b-40c9-9193-9ab19fd57da8.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/FileContentIndex/fec46483-f874-44aa-ae14-ee0f3666d773.vsidx
Advanced Programming/Week 1/Recursion/.vs/Recursion/v17/.suo
Advanced Programming/Week 1/Recursion/.vs/Recursion/v17/.wsuo
Advanced Programming/Week 1/Recursion/.vs/Recursion/v17/Browse.VC.db
Advanced Programming/Week 1/Recursion/.vs/Recursion/v17/ipch/AutoPCH/12915b3ba9ee043d/RECURSION.ipch
Advanced Programming/Week 1/Recursion/.vs/Recursion/v17/ipch/AutoPCH/f2b6fe2c9624e46b/RECURSION.ipch
Advanced Programming/Week 1/Recursion/.vs/RecursionLab/v17/.wsuo
Advanced Programming/Week 1/Recursion/.vs/RecursionLab/v17/Browse.VC.db
Advanced Programming/.vs/ProjectSettings.json
Advanced Programming/.vs/slnx.sqlite
Advanced Programming/.vs/VSWorkspaceState.json
Advanced Programming/.vs/Advanced Programming/FileContentIndex/028dfaf5-c839-49ba-9aab-62521ce2b443.vsidx
Advanced Programming/.vs/Advanced Programming/FileContentIndex/read.lock
Advanced Programming/.vs/Advanced Programming/v17/.wsuo
Advanced Programming/.vs/Advanced Programming/v17/Browse.VC.db
Advanced Programming/Week 2/ClassCreationLab.zip
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/2cb36c6a-1667-42e6-ab2d-f2d050a2b54a.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/7991b9cb-18f1-4b49-b163-5fe657a1fb6c.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/b8cdd26f-af65-475b-9307-302df1898457.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/FileContentIndex/c6c2c0e4-1019-46e6-87e8-2601fcdc9d57.vsidx
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/ipch/AutoPCH/5cd74598f1fcc422/RECTANGLE.ipch
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/ipch/AutoPCH/e14a8f1c9ea6e97/RECTANGLE.ipch
Advanced Programming/Week 2/ClassCreationLab/.vs/ClassCreationLab/v17/ipch/AutoPCH/e4919b8606238c14/RECTANGLEDRIVER.ipch
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.exe
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.exe.recipe
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.pdb
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.vcxproj.FileListAbsolute.txt
Advanced Programming/Week 2/ClassCreationLab/Debug/Rectangle.obj
Advanced Programming/Week 2/ClassCreationLab/Debug/RectangleDriver.obj
Advanced Programming/Week 2/ClassCreationLab/Debug/vc143.idb
Advanced Programming/Week 2/ClassCreationLab/Debug/vc143.pdb
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/CL.command.1.tlog
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/CL.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/CL.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/ClassCreationLab.lastbuildstate
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/link.command.1.tlog
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/link.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/Debug/ClassCreationLab.tlog/link.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.log
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.pdb
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/Rectangle.obj
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/RectangleDriver.obj
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/vc143.idb
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/vc143.pdb
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/CL.command.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/CL.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/CL.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/ClassCreationLab.lastbuildstate
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link-cvtres.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link-cvtres.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link-rc.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link-rc.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link.command.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link.read.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link.read.2.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/link.write.1.tlog
Advanced Programming/Week 2/ClassCreationLab/x64/Debug/ClassCreationLab.tlog/unsuccessfulbuild
/Advanced Programming/Week 3/VectorsAndSorting/.vs
/Advanced Programming/Week 3/VectorsAndSorting/x64/Debug
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/FileContentIndex/1730de2e-06fa-440e-bd6e-97a8831232dd.vsidx
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/FileContentIndex/8e69d367-8945-4f17-bd85-baec0defc329.vsidx
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/FileContentIndex/1730de2e-06fa-440e-bd6e-97a8831232dd.vsidx
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/FileContentIndex/1730de2e-06fa-440e-bd6e-97a8831232dd.vsidx
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/ipch/AutoPCH/3b73785009e4e2b/SALESPERSON.ipch
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/ipch/AutoPCH/4d885f37df3d2269/SALESPERSONDRIVER.ipch
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.opendb
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.db-wal
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.db-shm
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.db
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/.suo
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.vcxproj.FileListAbsolute.txt
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.pdb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.log
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.exe.recipe
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.exe
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/VectorsAndSortingV2.lastbuildstate
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.write.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.read.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.command.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.write.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.read.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.command.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/vc143.pdb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/vc143.idb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/Salespersondriver.obj
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/Salesperson.obj
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/FileContentIndex/1730de2e-06fa-440e-bd6e-97a8831232dd.vsidx
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/.suo
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.db-wal
/Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/Browse.VC.db
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.command.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.read.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/CL.write.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.command.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.read.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/link.write.1.tlog
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsA.abbf537a.tlog/VectorsAndSortingV2.lastbuildstate
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/Salesperson.obj
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/Salespersondriver.obj
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/vc143.idb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/vc143.pdb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.exe
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.exe.recipe
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.ilk
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.log
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.pdb
/Advanced Programming/Week 3/VectorsAndSortingV2/x64/Debug/VectorsAndSortingV2.vcxproj.FileListAbsolute.txt
Advanced Programming/Week 3/VectorsAndSortingV2/.vs/VectorsAndSortingV2/v17/.wsuo
Advanced Programming/Test Cases/TestSolution/.vs/TestSolution/FileContentIndex/6e784fcf-34e2-4791-bd49-2fe30b47546c.vsidx
Advanced Programming/Test Cases/TestSolution/.vs/TestSolution/FileContentIndex/956a8ff2-c602-4dea-bc8b-94b35a664ab2.vsidx
Advanced Programming/Test Cases/TestSolution/.vs/TestSolution/FileContentIndex/read.lock
Advanced Programming/Test Cases/TestSolution/.vs/TestSolution/v17/.suo
Advanced Programming/Test Cases/TestSolution/.vs/TestSolution/v17/Browse.VC.db
Advanced Programming/Test Cases/TestSolution/TestProject/Source.cpp
Advanced Programming/Test Cases/TestSolution/TestProject/TestProject.vcxproj
Advanced Programming/Test Cases/TestSolution/TestProject/TestProject.vcxproj.filters
Advanced Programming/Test Cases/TestSolution/TestProject/TestProject.vcxproj.user
Advanced Programming/Test Cases/TestSolution/TestSolution.sln
/Advanced Programming/Week 4/Lab4/.vs/Lab4
/Advanced Programming/Week 4/Lab4/x64/Debug
/Advanced Programming/Week 4/Lab4/ClassComposition/x64/Debug
Advanced Programming/Week 4/Lab4.zip
/Advanced Programming/Week 5
